body{
    text-align: center;

}
.p{
    font-weight: 1000;
}
span{
    font-weight: 1000;
}
a{
    border-radius: 500px;
    background-color: green;
    color: white;
    padding: 0.5% 1.0%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 42%;
    margin-left: 28%;
}
.um{
    border-top: solid;
    border-color: rgba(139, 139, 139, 0.161);
    
}
.um p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 45%;
    margin-left: 27%;
}
